.photos {
    max-width: 2448px;
    margin: 0 auto;
    &__container {
        padding-top: 128px;
        max-width: unset;
        .slider {
            width: 100%;
            overflow: hidden;
            -ms-overflow-style: none; /* Отключаем скроллбар в Internet Explorer */
            scrollbar-width: none; /* Отключаем скроллбар в Firefox */
            &__track {
                display: flex;
                gap: 30px;
                @include respond-to('phone') {
                    gap: 12px;
                }
                .slide {
                    min-width: 378px;
                    height: 378px;
                    background-color: $secondary-dark;
                    @include respond-to('phone') {
                        min-width: 162px;
                        height: 162px;
                    }
                    img {
                        width: 100%;
                        height: 100%;

                        object-fit: cover;
                    }
                    &:nth-child(1) {
                        clip-path: polygon(
                            0 calc(50% - 20px),
                            /* Начало левого треугольного выреза */ 20px 50%,
                            /* Вершина левого треугольного выреза */ 0 calc(50% + 20px),
                            /* Конец левого треугольного выреза */ 0 100%,
                            /* Левый нижний угол */ 100% 100%,
                            /* Правый нижний угол */ 100% calc(50% + 20px),
                            /* Начало правого треугольного выреза */ calc(100% - 20px) 50%,
                            /* Вершина правого треугольного выреза */ 100% calc(50% - 20px),
                            /* Конец правого треугольного выреза */ 100% 0,
                            /* Правый верхний угол */ 0 0 /* Левый верхний угол */
                        );
                        @include respond-to('phone') {
                            clip-path: polygon(
                                0 calc(50% - 20px),
                                /* Начало левого треугольного выреза */ 10px 50%,
                                /* Вершина левого треугольного выреза */ 0 calc(50% + 8px),
                                /* Конец левого треугольного выреза */ 0 100%,
                                /* Левый нижний угол */ 100% 100%,
                                /* Правый нижний угол */ 100% calc(50% + 8px),
                                /* Начало правого треугольного выреза */ calc(100% - 8px) 50%,
                                /* Вершина правого треугольного выреза */ 100% calc(50% - 8px),
                                /* Конец правого треугольного выреза */ 100% 0,
                                /* Правый верхний угол */ 0 0 /* Левый верхний угол */
                            );
                        }
                        img {
                            object-fit: contain;
                        }
                    }
                    &:nth-child(2) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        clip-path: polygon(
                            0 0,
                            /* Левый верхний угол */ calc(50% - 20px) 0,
                            /* Начало верхнего треугольного выреза */ 50% 20px,
                            /* Вершина верхнего треугольного выреза */ calc(50% + 20px) 0,
                            /* Конец верхнего треугольного выреза */ 100% 0,
                            /* Правый верхний угол */ 100% calc(50% - 20px),
                            /* Начало правого треугольного выреза */ calc(100% - 20px) 50%,
                            /* Вершина правого треугольного выреза */ 100% calc(50% + 20px),
                            /* Конец правого треугольного выреза */ 100% 100%,
                            /* Правый нижний угол */ calc(50% + 20px) 100%,
                            /* Начало нижнего треугольного выреза */ 50% calc(100% - 20px),
                            /* Вершина нижнего треугольного выреза */ calc(50% - 20px) 100%,
                            /* Конец нижнего треугольного выреза */ 0 100%,
                            /* Левый нижний угол */ 0 calc(50% + 20px),
                            /* Начало левого треугольного выреза */ 20px 50%,
                            /* Вершина левого треугольного выреза */ 0 calc(50% - 20px) /* Конец левого треугольного выреза */
                        );
                        @include respond-to('phone') {
                            clip-path: polygon(
                                0 0,
                                /* Левый верхний угол */ calc(50% - 8px) 0,
                                /* Начало верхнего треугольного выреза */ 50% 8px,
                                /* Вершина верхнего треугольного выреза */ calc(50% + 8px) 0,
                                /* Конец верхнего треугольного выреза */ 100% 0,
                                /* Правый верхний угол */ 100% calc(50% - 8px),
                                /* Начало правого треугольного выреза */ calc(100% - 8px) 50%,
                                /* Вершина правого треугольного выреза */ 100% calc(50% + 8px),
                                /* Конец правого треугольного выреза */ 100% 100%,
                                /* Правый нижний угол */ calc(50% + 8px) 100%,
                                /* Начало нижнего треугольного выреза */ 50% calc(100% - 8px),
                                /* Вершина нижнего треугольного выреза */ calc(50% - 8px) 100%,
                                /* Конец нижнего треугольного выреза */ 0 100%,
                                /* Левый нижний угол */ 0 calc(50% + 8px),
                                /* Начало левого треугольного выреза */ 8px 50%,
                                /* Вершина левого треугольного выреза */ 0 calc(50% - 8px) /* Конец левого треугольного выреза */
                            );
                        }
                        img {
                            object-fit: contain;
                            width: 193px;
                            @include respond-to('phone') {
                                width: 97px;
                            }
                        }
                    }
                    &:nth-child(3) {
                        clip-path: polygon(0 0, calc(100% - 20px) 0%, 100% 20px, 100% 100%, 100% 100%, 20px 100%, 0% calc(100% - 20px), 0 0);
                        @include respond-to('phone') {
                            clip-path: polygon(0 0, calc(100% - 8px) 0%, 100% 8px, 100% 100%, 100% 100%, 8px 100%, 0% calc(100% - 8px), 0 0);
                        }
                    }
                    &:nth-child(4) {
                        clip-path: polygon(
                            0 0,
                            calc(50% - 20px) 0,
                            /* Начало верхнего треугольного выреза */ 50% 20px,
                            /* Вершина верхнего треугольного выреза */ calc(50% + 20px) 0,
                            /* Конец верхнего треугольного выреза */ 100% 0,
                            100% 100%,
                            0 100%
                        );
                        @include respond-to('phone') {
                            clip-path: polygon(
                                0 0,
                                calc(50% - 8px) 0,
                                /* Начало верхнего треугольного выреза */ 50% 8px,
                                /* Вершина верхнего треугольного выреза */ calc(50% + 8px) 0,
                                /* Конец верхнего треугольного выреза */ 100% 0,
                                100% 100%,
                                0 100%
                            );
                        }
                    }
                    &:nth-child(5) {
                        clip-path: polygon(
                            0 calc(50% - 20px),
                            /* Начало левого треугольного выреза */ 20px 50%,
                            /* Вершина левого треугольного выреза */ 0 calc(50% + 20px),
                            /* Конец левого треугольного выреза */ 0 100%,
                            /* Левый нижний угол */ 100% 100%,
                            /* Правый нижний угол */ 100% 20px,
                            /* Скос правого верхнего угла */ calc(100% - 20px) 0,
                            /* Скос правого верхнего угла */ 0 0 /* Левый верхний угол */
                        );
                        @include respond-to('phone') {
                            clip-path: polygon(
                                0 calc(50% - 8px),
                                /* Начало левого треугольного выреза */ 8px 50%,
                                /* Вершина левого треугольного выреза */ 0 calc(50% + 8px),
                                /* Конец левого треугольного выреза */ 0 100%,
                                /* Левый нижний угол */ 100% 100%,
                                /* Правый нижний угол */ 100% 8px,
                                /* Скос правого верхнего угла */ calc(100% - 8px) 0,
                                /* Скос правого верхнего угла */ 0 0 /* Левый верхний угол */
                            );
                        }
                    }
                    &:nth-child(6) {
                        clip-path: polygon(
                            0 calc(50% - 20px),
                            /* Левый треугольный вырез */ 20px 50%,
                            0 calc(50% + 20px),
                            0 100%,
                            100% 100%,
                            100% calc(50% + 20px),
                            /* Правый треугольный вырез */ calc(100% - 20px) 50%,
                            100% calc(50% - 20px),
                            100% 0,
                            calc(50% + 20px) 0,
                            /* Верхний треугольный вырез */ 50% 20px,
                            calc(50% - 20px) 0,
                            0 0
                        );
                        @include respond-to('phone') {
                            clip-path: polygon(
                                0 calc(50% - 8px),
                                /* Левый треугольный вырез */ 8px 50%,
                                0 calc(50% + 8px),
                                0 100%,
                                100% 100%,
                                100% calc(50% + 8px),
                                /* Правый треугольный вырез */ calc(100% - 8px) 50%,
                                100% calc(50% - 8px),
                                100% 0,
                                calc(50% + 8px) 0,
                                /* Верхний треугольный вырез */ 50% 8px,
                                calc(50% - 8px) 0,
                                0 0
                            );
                        }
                    }
                }
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
        @include respond-to('phone') {
            padding-top: 32px;
        }
    }
}
