<!DOCTYPE html>
<html lang="ru">
    <head>
        {% include './partials/head.html' %}
    </head>
    <body>
        <div class="site-wrapper">
            {% include './partials/header.html' %}
            <main>
                {% include './partials/general.html' %} {% include './partials/photos.html' %} {% include './partials/info.html' %} {% include
                './partials/parmaster.html' %}
            </main>
        </div>
        {% include './partials/scripts.html' %}
    </body>
</html>
