<section class="info">
    <div class="info__container container">
        <h2 class="info__title">
            <span>Ваша история возрождения </span>
            <span>начинается здесь!</span>
        </h2>
        <div class="info__wrap">
            <p class="info__text">
                У нас вы найдете все, что нужно для отличного отдыха с семьей или друзьями. Час с эфирными маслами, жаркая баня и уединение от суеты.
            </p>
            <p class="info__text">
                Приглашаем вас в место, где каждая деталь создана для вашего комфорта. Встретьте лучшую версию себя вместе с нами!
            </p>
            <p class="info__text">
                Наш банный комплекс — это ваш оазис уюта и здоровья. Забудьте о повседневной суете и погрузитесь в мир гармонии и благополучия. Мы
                предлагаем вам всё необходимое для идеального отдыха!
            </p>
        </div>
    </div>
</section>
