<section class="parmaster">
    <img src="img/parmaster-bg.png" class="parmaster__img-bg" alt="" />
    <div class="parmaster__container container">
        <img src="img/parmaster.png" alt="" />
        <div class="parmaster__wrap">
            <h2 class="parmaster__title">Пармастер — ключ к вашему релаксу</h2>
            <p class="parmaster__text">
                Пармастер создаёт комфортные и безопасные условия для отдыхающих, помогая им достичь максимального расслабления и оздоровления.
            </p>
            <p class="parmaster__text">
                Он также может советовать посетителям наиболее подходящие виды процедур, исходя из их предпочтений и состояния здоровья.
            </p>
            <button class="parmaster__button">Забронировать время</button>
        </div>
    </div>
</section>
